@{
    ViewData["Title"] = "Home";
}

<div class="title" id="canvas">
        <h1 class="display-3 mb-4 text-dark">Welcome to <span> Guardian </span> </h1>
        <p>
            Advanced Intrusion Detection and Network Security Monitoring System
        </p>
       
</div>

<style>
    .title {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 38%;
    }
    .title h1 {
        font-size: 50px;
        position: absolute;
        white-space: nowrap;
        text-align: center;
        top: 50%;
      

    }
    .title span {
        background-image: linear-gradient(to right, deeppink, orange);
        color: transparent;
        background-clip: text;

    }
    .title p {
        position: absolute;
        white-space: nowrap;
        text-align: center;
        top: 56%;
      
        
    }
</style>